.appointments-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.appointments-list p{
    font-size: 1.6rem;
}

.appointment-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.appointment-card .info {
    flex-grow: 1;
}

.appointment-card h3 {
    margin: 0 0 1rem;
    color: #343a40;
    font-size: 1.6rem;
}

.appointment-card p {
    margin: 0.5rem 0;
    color: #6c757d;
}

.appointment-card .date {
    font-weight: bold;
    color: #007bff;
}

.appointment-status {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.6rem;
}

.appointment-status .status-scheduled {
    color: #d1a110;
}

.appointment-status .status-confirmed {
    color: #28a745;
}

.appointment-status .status-cancelled {
    color: #dc3545;
}

.appointment-actions {
    width: 100%;
    margin-top: 1rem;
    text-align: right;
}

.appointment-actions button {
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
    margin-left: 1rem;
}

.btn-confirm {
    background-color: #28a745;
}

.btn-confirm:hover {
    background-color: #218838;
}

.btn-cancel {
    background-color: #dc3545;
}

.btn-cancel:hover {
    background-color: #c82333;
}